* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(65, 3, 116) 0%,
    rgb(150, 34, 173) 100%
  );
}

body::-webkit-scrollbar {
  width: 15px
} 

body::-webkit-scrollbar-thumb {   
  background-color: #161a2b;
}

.todo-app-title {
  text-align: center;
}

.title-desc {
  margin-top: -30px;
  color: #e2e2e2;
  font-size: small;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  padding-bottom: 40px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 40px;
}

h2 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #ffffff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(223, 223, 223) 100%
  );
  color: rgb(75, 4, 75);
  text-transform: uppercase;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

footer {
  text-align: center;
  color: #fff;
  margin-bottom: 22px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #149fff;
  text-decoration: none;
}

/* Responsive */

@media only screen and (max-width: 550px) {
  .todo-app {
    width: 380px;
  }
  
  .todo-input {
    width: auto;
  }
}

@media only screen and (max-width: 385px) {
  .todo-app {
    width: 325px;
  }
}

@media only screen and (max-width: 325px) {
  .todo-app {
    width: auto;
    margin: 20px 2%;
  }
}